body {
  background-color: #b2ff66;
}

.list{
  display: inline-block;
  vertical-align: top;
  margin: 20px;
  width: 300px;
  max-height: 600px;
  background-color: #ffe5cc;
  border: 2px solid yellow;
  border-radius: 10px;
  overflow: auto;
}

.add-list{
  color: white;
  font-weight: bold;
  background-color: red;
  padding: 7px 15px;
  margin-bottom: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  margin-top: 100px;
  margin-left: 20px;
  font-size: 35px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.75);
}

.list-head{
  padding: 5px;
  background-color: #ff9999;
  border-radius: 10px;
}

.list-name{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.list-btn, .remove-btn{
  color: white;
  background-color: green;
  padding: 5px 10px;
  margin-left: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  margin-top: 10px;
  font-size: 18px;
}

.remove-btn{
  display: block;
  margin: 5px auto;
}

.container{
  white-space: nowrap;
}

.task{
  padding: 5px;
  border-radius: 10px;
  background-color: #ccffff;
  margin-top: 7px;
}

.task p{
  margin: 3px 10px;
}

.task-btn{
  color: white;
  background-color: green;
  padding: 3px 6px;
  margin-bottom: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 15px;
}


.new-task{
  margin: 10px 100px;
}

.save-btn{
  color: white;
  background-color: green;
  padding: 3px 6px;
  margin-bottom: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  margin-left: 10px;
  margin-top: 7px;
  font-size: 20px;
}

.rename-box{
  vertical-align: top;
  font-size: 15px;
}
