body {
  background-color: #b2ff66;
}

.list{
  display: inline-block;
  margin: 20px;
  width: 300px;
  max-height: 600px;
  background-color: #ffe5cc;
  border: 2px solid yellow;
  border-radius: 10px;
  overflow: auto;
}

.list-head{
  padding: 5px;
  background-color: #ff9999;
  border-radius: 10px;
}

.list-name{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.list-btn{
  color: white;
  background-color: green;
  padding: 5px 10px;
  margin-left: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  margin-top: 10px;
  font-size: 18px;
}

.container{
  white-space: nowrap;
}

.task{
  padding: 5px;
  border-radius: 10px;
  background-color: #ccffff;
  margin-top: 7px;
}

.task p{
  margin: 3px 10px;
}

.move-task-l, .move-task-r{
  color: white;
  background-color: green;
  padding: 3px 6px;
  margin-bottom: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  margin-top: 10px;
  font-size: 15px;
}

.move-task-l{
  margin-left: 10px;
}

.move-task-r{
  margin-left: 90px;
}

.new-task{
  margin: 10px 100px;
}
